.custom-color {
  color: #444;
}
.red-button a {
	display:inline-block;
	border: 2px solid #e71e25;
	padding: 10px 40px;
	font-size: 1.2em;
	text-decoration: none;
	color: #383938;
	font-weight: bold;
}
.red {
	color: #e71e25;
}