.main-navigation {
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 0 5px rgba(50, 50, 50, 0.3);	
	@media screen and (min-width: $tabwidth) {
		position: relative;
		box-shadow:none;
		clear: none;
		width: auto;
	}


	.menu-main-menu-container {
		margin-top:60px;
		@media screen and (min-width: $tabwidth) {
			margin-top: 0;
		}
	}
	
	.menu {
		@include transition(all ease 1s);
		overflow: hidden;
		display: block;
	}
	&.toggled .menu {
		max-height: 1000px;
	}
	.menu {
		max-height: 0;
		@media screen and (min-width: $tabwidth) {
			max-height: 1000px;
		}
		> li:last-child {
			margin-bottom:10px;
			@media screen and (min-width: $tabwidth) {
				margin-bottom:0;
			}
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@media screen and (min-width: $tabwidth) {
			display: flex;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}


			a {
				width: 200px;
				@media screen and (min-width: $midwidth) {
					font-size: 16px;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		// float: left;
		position: relative;
		text-align: center;
		display: inline-block;
		hyphens: none;
		padding: 0 ;
		text-transform: uppercase;
		font-family: $font-heading;
		font-weight: 300;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			line-height: 3;
			width: auto;
			// padding: 0 20px;
			&:first-of-type {
				border: 0;
			}
		}
		@media screen and (min-width: $deskwidth) {
			// padding: 0 30px;
		}

		&:hover > a,
		&.focus > a {
		}
		&.current_page_item > a {
			color:$color-red;
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding: 10px 0px;
		color: #000;
		@include transition(all ease .4s);
		font-size: 14px;

		@media screen and (min-width: $tabwidth) {
			padding: 0 10px;
			font-size: 14px;
		}
		@media screen and (min-width: $midwidth) {
			padding: 0 20px;
			font-size: 16px;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 0% 20px;
		}
		&:hover {
			background-color: rgba(#fff, 1);
			color: $color-black;
		}
	}
	a:hover {
		color:$color-red;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// background-color: $color-green;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		// display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	background-color:transparent;
	-webkit-appearance:none;
	color: #fff;
	box-shadow: none;
	width: 35px;
	height: 30px;
	display: inline-block;
	margin: 0 auto;
	border-radius: 0;
	text-transform: uppercase;
	text-indent: -999em;
	position: absolute;
	top: 15px;
	right: 20px;
	font: {
		weight :300;
		size: 2px;
	}
	i {
		display:block;
		width:100%;
		position:absolute;
		top:0;
		left:0;
		height:5px;
		background-color:$color-grey;
		@include transform(rotate(0deg));
		@include transition(all ease-in-out .2s);
	}
	i:nth-child(2) {
		top:12px;
	}
	i:nth-child(3) {
		top:24px;
	}
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}
.main-navigation.toggled {
	.menu-toggle {
		i:nth-child(1), i:nth-child(2) {
			@include transform( rotate(45deg) );
			top: 12px;
		}
		i:nth-child(3) {
			@include transform( rotate(-45deg) );
			top: 12px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
